
{% extends 'home/base.html' %}

{% load static %}

{% block title %}
	<title>Contact Me - Mohit Kumar</title>
{% endblock title %}


{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}?{% now 'U' %}">
{% endblock stylesheet %}


{% block content %}

	<section class="normal-container">
		
		<div class="page-header check-mobile">
			<h1 class="highlight-heading"><span>GET IN <span class="text secondary--type">TOUCH</span></span></h1>
		</div>

		<div class="page-content contact-me">
			<div class="row">
				<div class="content--left col-lg-4 avatar-wrapper lazy-opacity">
					<img src="{% static 'media/image/avatar--transp.png' %}" class="img-fluid avatar-img" width=300 height=300>
				</div>
				
				<div class="content--right col-lg-8 col-md-12 col-sm-12 contact-form-wrapper">
					
					<div class="contact-detail">
						<div class="email">
							<a href="mailto:mahitkumar166@gmail.com" class="link contact-link default">
								<span class="fa fa-envelope icon contact-link--icon"></span>
								<span class="contact-link--text">mahitkumar166@gmail.com</span>
							</a>
						</div>
						<div class="telephone">
							<a href="tel:9861013399" class="link contact-link">
								<span class="fa fa-phone icon contact-link--icon"></span>
								<span class="contact-link--text">+91 98610 13399</span>
							</a>
						</div>
					</div>
					
					<div class="contact-form--div">
						<form method="post" id="contact-form">
							<div class="form-group">
								<div class="joint-input input-div">
									<input type="text" class="user-input w-100" name="name" placeholder="Your Name" required spellcheck="false" />
								</div>
								<div class="joint-input input-div">
									<input type="email" class="user-input w-100" name="email" placeholder="Your Email" required spellcheck="false" />
								</div>
							</div>
							<div class="form-group">
								<div class="input-div">
									<input type="text" class="user-input w-100" name="subject" placeholder="Subject" required autocomplete="off" spellcheck="false" />
								</div>
								<div class="input-div">
									<textarea class="user-input w-100" name="message" placeholder="Write your Message here..." rows=6 required spellcheck="false" ></textarea>
								</div>
							</div>
							<div class="form-group">
								<button type="button" class="bttn secondary--type send-message--btn">
									<span>SEND MESSAGE</span>
									<div class="spinner-border spinner-border-sm text-light ml-1"></div>
								</button>
							</div>
						</form>
					</div>
				
				</div>
			</div>
		</div>

		<div class="page-content connect-with-me">
			<div class="page-content-header">
				<h3 class="sub-heading"><span>Connect</span> <span class="text secondary--type">with Me</span></h3>				
			</div>

			<div class="social-link--wrapper check-mobile">
				<div class="social-link--div lazy-transition--bottom" data-social-handle="whatsapp">
					<div class="social-link" tabindex="0">
						<a href="https://wa.me/919861013399" class="link" target="_blank">
							<div class="social-link--img">
								<img src="{% static 'media/image/whatsapp-high.jpg' %}" class="img-fluid"/>
							</div>
						</a>

						<div class="overlay--div"></div>

						<div class="social-link--logo">
							<span class="fa fa-whatsapp icon"></span>
						</div>
					</div>
				</div>
				<div class="social-link--div lazy-transition--bottom" data-social-handle="facebook">
					<div class="social-link" tabindex="0">
						<a href="#" class="link" target="_blank">
							<div class="social-link--img">
								<img src="{% static 'media/image/linkedin-high.jpg' %}" class="img-fluid"/>
							</div>
						</a>

						<div class="overlay--div"></div>

						<div class="social-link--logo">
							<span class="fa fa-facebook-square icon"></span>
						</div>
					</div>
				</div>
				<div class="social-link--div lazy-transition--bottom" data-social-handle="instagram">
					<div class="social-link" tabindex="0">
						<a href="#" class="link" target="_blank">
							<div class="social-link--img">
								<img src="{% static 'media/image/facebook-high.jpg' %}" class="img-fluid"/>
							</div>
						</a>

						<div class="overlay--div"></div>

						<div class="social-link--logo">
							<span class="fa fa-instagram icon"></span>
						</div>
					</div>
				</div>
				<div class="social-link--div lazy-transition--bottom" data-social-handle="linkedin">
					<div class="social-link" tabindex="0">
						<a href="#" class="link" target="_blank">
							<div class="social-link--img">
								<img src="{% static 'media/image/instagram-high.jpg' %}" class="img-fluid"/>
							</div>
						</a>

						<div class="overlay--div"></div>

						<div class="social-link--logo">
							<span class="fa fa-linkedin icon"></span>
						</div>
					</div>
				</div>
				<div class="social-link--div lazy-transition--bottom" data-social-handle="github">
					<div class="social-link" tabindex="0">
						<a href="#" class="link" target="_blank">
							<div class="social-link--img">
								<img src="{% static 'media/image/github-high.jpg' %}" class="img-fluid"/>
							</div>
						</a>

						<div class="overlay--div"></div>

						<div class="social-link--logo">
							<span class="fa fa-github icon"></span>
						</div>
					</div>
				</div>
				<div class="social-link--div lazy-transition--bottom" data-social-handle="twitter">
					<div class="social-link" tabindex="0">
						<a href="#" class="link" target="_blank">
							<div class="social-link--img">
								<img src="{% static 'media/image/twitter--low.jpg' %}" class="img-fluid"/>
							</div>
						</a>

						<div class="overlay--div"></div>

						<div class="social-link--logo">
							<span class="fa fa-twitter icon"></span>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% include 'home/footer.html' %}

	</section>

{% endblock content %}
