{% extends 'base-1.html' %} {% load static %} {% block title %}
<title>Mohit Kumar</title>
{% endblock title %} {% block page-stylesheet %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/home.css' %}?{% now 'U' %}"
/>
{% endblock page-stylesheet %} {% block img-content %}
<div class="blob">{% include 'svg/blob.html' %}</div>
<img
  src="{{ profile.profileimage.image_low_res.url }}"
  class="main-img lazy-img"
  data-src="{{ profile.profileimage.image_high_res.url }}"
  alt="{{ profile.user.get_full_name }} profile image"/>
{% endblock img-content %} {% block text-content %}
<div class="content">
  <h5 class="focus">HI THERE !</h5>
  <h1 class="highlight-heading focus">
    I'M <span class="text secondary--type animate-up">MOHIT KUMAR</span>
  </h1>
</div>

<div class="content" id="profile-bio">
  <p>{{ profile.bio }}</p>
</div>

<div class="content">
  <button
    class="bttn call-to-action secondary--type"
    onclick="window.location.href=`{% url 'about:about' %}`"
  >
    MORE ABOUT ME<span class="fa fa-user-secret icon"></span>
  </button>
</div>

<div class="content theme-picker-container">
  <h5 class="mb-3">Pick Theme</h5>
</div>

{% endblock text-content %}