{% extends 'base-1.html' %} {% load static %} 
{% block title %}
<title>Mohit Kumar</title>
{% endblock title %} 
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base-1.css' %}?{% now 'U' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}?{% now 'U' %}"/>
{% endblock stylesheet %} 

{% block img-content %}
<div class="blob">
  <svg
    class="svg"
    viewBox="0 0 200 200"
    xmlns="http://www.w3.org/2000/svg"
    opacity="0.7"
  >
    <path class="secondary--type"
      d="M35.4,-48.1C48.9,-38.9,65,-32.6,72.1,-21C79.1,-9.4,77.2,7.5,70.1,20.8C63.1,34.1,50.9,43.7,38.4,55.4C25.9,67,12.9,80.6,0.1,80.5C-12.8,80.4,-25.5,66.5,-41.3,56C-57,45.4,-75.8,38,-79.9,25.8C-84,13.7,-73.4,-3.4,-65.9,-19.9C-58.4,-36.3,-54,-52.2,-43.5,-62.4C-33,-72.5,-16.5,-77,-2.8,-73.1C10.9,-69.3,21.9,-57.3,35.4,-48.1Z"
      transform="translate(100 100)"
    />
  </svg>
</div>
<img
  src="{% static 'media/image/mohit-3-c11.png' %}"
  class="main-img lazy-img"
  data-src="{% static 'media/image/mohit-3.png' %}"
  alt="Mohit Kumar"
/>
{% endblock img-content %}
{% block text-content %}
<div class="content">
  <h5 class="focus">HI THERE !</h5>
  <h1 class="highlight-heading focus">
    I'M <span class="text secondary--type animate-text">MOHIT KUMAR</span>
  </h1>
</div>

<div class="content">
  <p>What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book it has.</p>
  <!-- <div class="content-bar-loader">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div> -->
</div>

<div class="content mt-5">
  <button
    class="bttn call-to-action secondary--type"
    onclick="window.location.href=`{% url 'about:about' %}`"
  >
    MORE ABOUT ME<span class="fa fa-user-secret icon"></span>
  </button>
</div>

{% include 'home/snippets/pallete.html' %}
{% endblock text-content %}
