.about-me--div {
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 5px;
  border: 0.3px solid #232b2b;
  box-shadow: 0px 1px 4px #232b2b90;
  padding: 1rem;
}
.about-me--div h4 {
  font-family: var(--font-fancy);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.about-me--content {
  margin-bottom: 1rem;
}
.entity {
  display: flex;
  margin-bottom: 0.8rem;
  font-family: var(--font-primary);
}
.entity .key {
  color: #ffffff90;
  text-transform: capitalize;
}
.entity .value::before {
  content: ':';
  margin: 0 0.4rem;
}
.entity .value {
  color: var(--light-shade2);
  word-break: break-all;
}
.entity .value :is(.link) {
  color: inherit;
  text-decoration: underline;
}
.entity .value :is(.link):hover,
.entity .value :is(.link):focus {
  color: var(--secondary-color);
}
.page-content:nth-child(odd) {
  background: var(--dark-shade4);
}
.about-education--div {
  display: flex;
}
.about-education--div > .div--left,
.about-education--div > .div--right {
  width: 50%;
  padding: 2.5rem;
}
@media screen and (min-width: 992px) {
  .entity {
    width: 50%;
  }
  .about-education--div > .div--left {
    display: block;
    width: 50%;
  }
  .about-education--div > .div--right {
    width: 50%;
  }
}
@media screen and (max-width: 992px) {
  .entity {
    width: 100%;
  }
  .about-education--div > .div--left {
    display: none;
  }
  .about-education--div > .div--right {
    width: 100%;
  }
}

.skill-bar--wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
  border: 0.2px solid var(--secondary-color);
  border-radius: 3px;
}
.skill-bar--label {
  padding: 0.2rem 0.1rem 0 0.1rem;
  margin-bottom: 0.2rem;
  font-family: var(--font-fancy);
  font-size: 0.8rem;
  text-transform: uppercase;
}

.timeline {
  padding: 0 1rem;
}
.timeline--div {
  padding: 0.5rem 1.3rem 3rem 2rem;
  border: 0.3px solid #ffffff50;
  border-width: 0 0 0 0.3px;
  position: relative;
}
.timeline--div:before {
  content: '';
  top: 4.8px;
  box-shadow: 0 0 0 2px var(--light-shade1);
  background: var(--secondary-color);
}
.timeline--logo {
  top: 8px;
  text-align: center;
}
.timeline--div:before,
.timeline--logo {
  position: absolute;
  left: -16px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.timeline--content {
  font-family: var(--font-primary);
}
.timeline--content div:not(:last-child),
.card-right p:not(:last-child) {
  margin-bottom: 0.4rem;
}
.timeline--shortDescp {
  font-weight: lighter;
}
.timeline--didWhat,
.experience--position {
  font-weight: 800;
}

.normal-flow {
  height: auto;
  overflow-y: hidden;
}
.scrolling-content {
  height: 420px;
  overflow-y: auto;
}

/* scrollbar */
.scrolling-content::-webkit-scrollbar {
  width: 8px;
}
.scrolling-content::-webkit-scrollbar-track {
  background-color: #ffffff15;
  border-radius: 10px;
}
.scrolling-content::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 10px;
}
