@keyframes rotateBlob {
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes rotateBlob {
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes original-state {
  to {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes original-state {
  to {
    top: 0;
    opacity: 1;
  }
}
@media screen and (min-width: 769px) {
  .main-container {
    background: linear-gradient(
      -84deg,
      var(--dark-shade2) 85%,
      var(--secondary-color) 15%
    );
  }
  .theme-picker:not(.from-model) {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .main-container {
    background: linear-gradient(
      355deg,
      var(--dark-shade2) 85%,
      var(--secondary-color) 15%
    );
  }
  .theme-picker:not(.from-model) {
    display: none;
  }
}
.img-container {
  background: var(--dark-shade4);
}
.img-container > .blob {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.blob svg {
  position: relative;
  top: 35%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  -webkit-transform: translate(-50%, -50%) rotate(0);
  transform: translate(-50%, -50%) rotate(0);
  -webkit-animation: rotateBlob 7s linear infinite;
  animation: rotateBlob 7s linear infinite;
}
@media screen and (min-width: 768px) {
  .highlight-heading {
    font-size: 4rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .highlight-heading {
    font-size: 3rem;
  }
}
@media screen and (max-width: 576px) {
  .highlight-heading {
    font-size: 2.5rem;
  }
}
.highlight-heading .animate-text {
  position: relative;
  top: 20px;
  opacity: 0;
  -webkit-animation: original-state 0.7s ease-in-out 0.25s forwards;
  animation: original-state 0.7s ease-in-out 0.25s forwards;
}
