/* Pagination Component */
.pagination--wrapper {
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.pagination-controller:first-child {
  margin-right: 0.7rem;
}
.pagination-controller:last-child {
  margin-left: 0.7rem;
}
.pagination--btn > span.icon {
  font-size: 1.2rem;
  position: relative;
  top: 0.5px;
  --margin: 0.4rem;
}
.pagination--btn.prev > span.icon {
  margin-right: var(--margin);
}
.pagination--btn.next > span.icon {
  margin-left: var(--margin);
}
.pagination--pagenum {
  align-self: center;
  padding: 0.2rem 0.6rem;
  font-size: 1.2rem;
  border-radius: 4px;
  background-color: #ffffff10;
  color: var(--secondary-color);
}
.pagination--pagenum > span {
  margin: 0 0.15rem;
}
