:root {
  --dark-shade1: #000000;
  --dark-shade2: #141414;
  --dark-shade3: #0e1111;
  --dark-shade4: #1b1b1b;
  --dark-shade5: #242424;
  --dark-shade6: #232b2b;

  --light-shade1: #ffffff;
  --light-shade2: #f8f1e5;

  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Roboto Slab', serif;
  --font-fancy: 'Montserrat', sans-serif;

  --secondary-color: #fa1e0e;

  --color-whatsapp: #25d366;
  --color-facebook: #4267b2;
  --color-linkedin: #2867b2;
  --color-instagram: #f77737;
  --color-twitter: #1da1f2;
  --color-github: #333;
}

::selection {
  background: var(--secondary-color);
  color: var(--light-shade1);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  background: var(--dark-shade2);
}
body * {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

p {
  margin: 0;
}

/*------------------------------ LOADING ANIMATION ------------------------------*/
/*Main Loader*/
.loader {
  width: 100%;
  height: 100vh;
  position: relative;
  background: var(--dark-shade2);
  z-index: 10;
}
.main-box {
  position: relative;
  top: 42%;
  left: 45%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  padding: 0.1rem;

  animation: rotate 5s linear infinite;
  -webkit-animation: rotate 5s linear infinite;
}
.main-box div {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.box {
  width: 20px;
  height: 20px;
  margin: 0.1rem;
  border-radius: 3px;

  animation: shrinksize 0.8s linear infinite;
  -webkit-animation: shrinksize 0.8s linear infinite;
}
.box.one {
  background: #ef5742;
  animation-delay: -0.2s;
  -webkit-animation-delay: -0.2s;
}
.box.two {
  background: #73a528;
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
.box.three {
  background: #0556f3;
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}
.box.four {
  background: #ffae00;
  animation-delay: -0.1s;
  -webkit-animation-delay: -0.1s;
}
/*Circle Loader*/
.content-loader {
  border-style: solid;
  border-radius: 50%;
  border-width: 6px;
  border-top-color: #ef5742;
  border-right-color: #73a528;
  border-bottom-color: #0556f3;
  border-left-color: #ffae00;
  width: 40px;
  height: 40px;
  background: transparent;
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
}
.content-loader.solid {
  border-style: solid;
}
.content-loader.dotted {
  border-style: dotted;
}
.content-loader.sm {
  border-width: 3px;
  width: 30px;
  height: 30px;
}
.content-loader.md {
  border-width: 6px;
  width: 40px;
  height: 40px;
}
.content-loader.lg {
  border-width: 9px;
  width: 60px;
  height: 60px;
}
/*Bar Loader*/
.content-bar-loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}
.content-bar-loader .bar:not(:last-child) {
  margin-bottom: 0.6rem;
}
.content-bar-loader .bar {
  position: relative;
  width: 100%;
  height: 20px;
  border-radius: 2px;
  background: #29323c;
  overflow: hidden;
}
.content-bar-loader .bar:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-image: linear-gradient(to left, #8e9eab07, #eef2f307);
  transform: scaleX(0);
  transform-origin: left;
  -webkit-transform: scaleX(0);
  -webkit-transform-origin: left;
  -webkit-animation: translateLeftRight 1.5s ease-in-out infinite;
  animation: translateLeftRight 1.5s ease-in-out infinite;
}
@keyframes shrinksize {
  0%,
  100% {
    transform: scale(1);
  }
  25%,
  75% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.6);
  }
}
@-webkit-keyframes shrinksize {
  0%,
  100% {
    -webkit-transform: scale(1);
  }
  25%,
  75% {
    -webkit-transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(0.6);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes translateLeftRight {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  49% {
    transform: scaleX(1);
    transform-origin: left;
  }
  51% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}
@-webkit-keyframes translateLeftRight {
  0% {
    -webkit-transform: scaleX(0);
    -webkit-transform-origin: left;
  }
  49% {
    -webkit-transform: scaleX(1);
    -webkit-transform-origin: left;
  }
  51% {
    -webkit-transform: scaleX(1);
    -webkit-transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
    -webkit-transform-origin: right;
  }
}

/*--------------------------- GLOBAL STYLE ------------------------------------*/
#main-body {
  display: none;
  position: relative;
  width: 100%;
  height: auto;
  color: var(--light-shade2);
  font-family: var(--font-primary);
  overflow: auto;
  padding: 0;
}
/*-- Text Component --*/
.text.secondary--type {
  color: var(--secondary-color);
}
.highlight-heading,
.sub-heading {
  font-family: var(--font-fancy);
  text-transform: uppercase;
  font-weight: 800;
}
.text-weight-bold {
  font-weight: 600;
}
/*-- Link Component --*/
.link:focus {
  outline: none;
}
.link:active {
  opacity: 0.9;
}
/*-- Button Component --*/
.bttn {
  border: none;
  padding: 0.6rem 1rem;
  font-family: var(--font-fancy);
}
.bttn:focus {
  outline: none;
}
.bttn[disabled] {
  cursor: not-allowed;
}
.bttn.secondary--type {
  border-radius: 100px;
  background: var(--secondary-color);
  color: var(--light-shade1);
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
  z-index: 0;
}
.bttn.secondary--type::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: rgba(0, 0, 0, 0.35);
  z-index: -1;
  pointer-events: none;
  transform: scale(0);
  transform-origin: center;
  transition: all 0.3s ease-in-out;
}
.bttn.secondary--type:hover::after,
.bttn.secondary--type:focus::after {
  transform: scale(1);
}
.bttn.secondary--type:active {
  transform: scale(0.9);
}
/*-- Model Component --*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(10px);
  z-index: 10;
}
.model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  color: var(--dark-shade6);
  background: var(--light-shade1);
  box-shadow: 1px 1.3px 8px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 0;
  z-index: 20;
}
.overlay.hide,
.model.hide {
  visibility: hidden;
  opacity: 0;
}
@media screen and (min-width: 992px) {
  .model {
    width: 40%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .model {
    width: 50%;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .model {
    width: 70%;
  }
}
@media screen and (max-width: 576px) {
  .model {
    width: 80%;
  }
}
.model-head,
.model-body {
  padding: 1rem;
  border-radius: inherit;
}
.model-head {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0.5px solid lightgrey;
}
.close-model--btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0.4rem;
  width: 43px;
  height: 43px;
  border: none;
  background: transparent;
  font-size: 2.3rem;
  border-radius: 50%;
  color: var(--light-shade1);
}
/* Horizontal Line Component */
div.hr {
  width: 100%;
  height: 2px;
  background: #ffffff20;
  border-radius: 100px;
}
/* Flex Wrapper */
.flex-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* Image Component */
img {
  object-fit: cover;
}
/* scrollbar  */
.content-overflow::-webkit-scrollbar {
  width: 7px;
}
.content-overflow::-webkit-scrollbar-track {
  background: var(--light-shade1);
  border-radius: 100px;
}
.content-overflow::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 100px;
}
/*.content-overflow::-webkit-scrollbar-thumb:hover {  }*/

/*--------------------------- LAZY LOAD EFFECT ------------------------*/
.lazy-opacity,
.lazy-img {
  opacity: 0.15;
}
.lazy-transition--left,
.lazy-transition--bottom {
  transition-delay: 0.2s;
}
.lazy-transition--left {
  transform: translateX(-24px);
}
.lazy-transition--bottom {
  transform: translateY(24px);
}
.lazy-opacity,
.lazy-transition--left,
.lazy-transition--bottom,
.lazy-img {
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
}

/*--------------------------- NAVBAR ------------------------*/
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 85px;
  height: 100%;
  z-index: 2;
  background: var(--dark-shade1);
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  border-left: 0.1px solid var(--light-shade2);
}
.navbar.open {
  transform: translateX(0);
}
.navbar .navbar-toggler {
  position: absolute;
  top: 11.4%;
  left: 0;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  width: 25px;
  height: 55px;
  padding: 0 0.1rem 0 0.1rem;
  border-radius: 2.5px 0 0 2.5px;
  border-width: 1.5px 0 1.5px 1.5px;
  border-color: var(--light-shade1);
  border-style: solid;
  background: var(--secondary-color);
  color: var(--light-shade2);
  text-align: center;
}
.navbar-toggler--icon {
  font-size: 1.5rem;
}
.navbar.open .navbar-toggler--icon {
  transform: rotate(180deg);
}
.navbar-toggler:not(.mobile-device):hover,
.navbar-toggler:focus {
  filter: brightness(86%);
}
.navbar-toggler:active {
  opacity: 0.9;
}
.nav-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.nav-item {
  width: 100%;
  flex: 1;
}
.nav-item:not(:last-child) {
  border-bottom: 0.5px solid var(--light-shade1);
}
.nav-link {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--dark-shade5);
  color: var(--light-shade1);
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 0;
}
.nav-link span {
  margin-top: auto;
}
.nav-link.active {
  background: var(--secondary-color);
}
.nav-link--icon {
  font-size: 1.6rem;
}
.nav-link--text {
  font-family: var(--font-fancy);
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
}
.nav-link:hover {
  color: inherit;
  text-decoration: none;
}
.nav-link::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: var(--secondary-color);
  opacity: 0.2;
  pointer-events: none;
  z-index: -1;
  transition: all 0.15s ease-in-out;
}
.nav-wrapper:not(.mobile-device) .nav-link:not(.active):hover::after,
.nav-wrapper:not(.mobile-device) .nav-link:focus::after {
  width: 100%;
}

/*--------------------------- END OF NAVBAR ------------------------*/

/*---------------------------- THEME PICKER PALLETE -------------------------*/
.theme-picker {
  flex-direction: column;
}
.theme-picker h5 {
  font-family: var(--font-fancy);
  font-weight: 500;
}
.theme-picker .pallete {
  display: flex;
}
.theme-picker .pallete:last-child {
  margin-top: 1.5rem;
}
.theme-picker .color--btn {
  margin-right: 1rem;
  width: 32px;
  height: 32px;
  border-radius: 2px;
  border: none;
}
.theme-picker .color--btn:last-child {
  margin-right: 0;
}
.theme-picker .color--btn.active {
  border-radius: 50% 50% 50% 5%;
  transform: rotate(135deg);
}
.theme-picker:not(.mobile-device) .color--btn:not(.active):hover,
.theme-picker:not(.mobile-device) .color--btn:focus {
  border-radius: 50% 50% 50% 5%;
  transform: rotate(135deg);
}
/*---------------- END OF THEME PICKER PALLETE --------------------*/

/*-------------------- OTHER PAGES COMMON STYLE -------------------------------*/

section.normal-container {
  width: 100%;
  margin: 0;
  padding: 0;
}
section.normal-container .page-header,
section.normal-container .page-content-header {
  padding: 1rem 0;
  text-align: center;
  margin-bottom: 1.5rem;
  cursor: context-menu;
}
section.normal-container .page-header .secondary--type {
  position: relative;
  z-index: 0;
}
section.normal-container .page-header .secondary--type:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 55%;
  height: 5px;
  background: var(--secondary-color);
  border-radius: 100px;
  z-index: -1;
  transition: all 0.2s ease-out;
}
section.normal-container
  .page-header:not(.mobile-device)
  .highlight-heading
  span:hover
  .secondary--type:after {
  width: 100%;
}
section.normal-container .page-header.mobile-device .secondary--type:after {
  width: 80%;
}
section.normal-container .page-content {
  width: 100%;
  padding: 2rem 1.3rem;
  overflow: hidden;
}
section.normal-container .responsive-wrapper {
  margin: auto;
}
@media screen and (min-width: 1400px) {
  section.normal-container .responsive-wrapper {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  section.normal-container .responsive-wrapper {
    width: 55%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  section.normal-container .responsive-wrapper {
    width: 60%;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  section.normal-container .responsive-wrapper {
    width: 80%;
  }
}
@media screen and (max-width: 576px) {
  section.normal-container .responsive-wrapper {
    width: 100%;
  }
}

/* Card Component */
/* Display Card */
.display-card--wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem 0 0 0;
  overflow: hidden;
}
.display-card--div {
  width: 50%;
  padding: 0.2rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1400px) {
  .display-card--div {
    width: 25%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .display-card--div {
    width: 33.33%;
  }
}
@media screen and (max-width: 768px) {
  .display-card--div {
    width: 50%;
  }
}
.display-card {
  width: 100%;
  height: 100%;
  background: var(--dark-shade6);
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.display-card--img,
.display-card--img > img,
.display-card--link,
.overlay--div {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.display-card--link,
.overlay--div {
  position: absolute;
  top: 0;
  left: 0;
}
.overlay--div {
  background: var(--dark-shade6);
  opacity: 0;
  pointer-events: none;
}
.overlay--div > span {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
}
.display-card--wrapper:not(.mobile-device) .display-card:hover > .overlay--div {
  opacity: 0.7;
}
/* Info Card */
.info-card {
  display: flex;
  height: 100%;
  border: 1px solid white;
  padding: 0.8rem;
  border-radius: 3px;
  font-family: var(--font-fancy);
}
.info-card .info-card--left {
  width: 30%;
}
.info-card .info-card--right {
  width: 70%;
  padding: 0.25rem;
}
.info-card .info-card--left > img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.info-card--right {
  align-self: center;
}
.info-card--right .info-card--content:not(:last-child) {
  margin-bottom: 0.4rem;
}
.info-card .link {
  color: inherit;
}
.info-card .link:hover,
.info-card .link:focus {
  color: var(--secondary-color);
  text-decoration: none;
}

/* Pill-Badge Component */
.pill-badge {
  position: relative;
  display: inline-block;
  font-family: var(--font-fancy);
  font-size: 0.8rem;
  border-radius: 2px;
  padding: 0.1rem 0.5rem;
  background: var(--dark-shade6);
}
.pill-badge:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  -webkit-transform: translate(-100%, -50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--dark-shade6) transparent transparent;
}

/* Progress Bar Component */
.mk-progress {
  width: 100%;
  height: 25px;
  border-radius: 3px;
  background: white;
  position: relative;
}
.mk-progress > .mk-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background: var(--secondary-color);
  border-radius: inherit;
}
.mk-progress > .mk-progress-bar > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.65rem;
  font-weight: bold;
}

/* Pagination Component */
.pagination--wrapper {
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.pagination-controller:first-child {
  margin-right: 0.7rem;
}
.pagination-controller:last-child {
  margin-left: 0.7rem;
}
.pagination-list--wrapper {
  position: relative;
  max-width: 162.5px; /* Fixed */
  overflow-x: hidden;
  align-self: center;
}
.pagination-list {
  display: flex;
  justify-content: start;
  padding: 0;
  margin-bottom: 0;
}
.pagination-item {
  list-style-type: none;
}
.pagination .bttn {
  position: relative;
  padding: 0.2rem 1rem;
  border-radius: 2px;
  z-index: 0;
}
.pagination-controller--btn,
.pagination-page--btn {
  background: transparent;
  color: var(--secondary-color);
  font-size: 1rem;
}
.pagination-page--btn.active {
  background: var(--secondary-color);
  color: var(--light-shade1);
}
.pagination-controller--btn {
  font-size: 1.8rem;
  font-weight: 800;
}
.pagination:not(.mobile-device) .bttn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  opacity: 0;
  border-radius: inherit;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  z-index: -1;
}
.pagination:not(.mobile-device) .bttn:hover:after,
.pagination:not(.mobile-device) .bttn:focus:after {
  opacity: 0.1;
}
.pagination .bttn:active {
  opacity: 0.7;
}

/*-------------------- END OF OTHER PAGES COMMON STYLE -------------------------------*/

/*----------------------- FOOTER ---------------------------*/
.footer {
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: var(--light-shdae2);
  background: var(--dark-shade5);
}
.footer p {
  font-family: var(--font-primary);
  font-size: 0.8rem;
  font-weight: 500;
}
.footer a {
  font-weight: 700;
  color: var(--secondary-color);
}
.footer a:focus {
  text-decoration: underline;
}
/*----------------------- END OF FOOTER ---------------------------*/

/*
@media screen and (min-width: 1400px) {}
@media screen and (min-width: 1200px) and (max-width: 1400px) {}
@media screen and (min-width: 992px) and (max-width: 1200px) {}
@media screen and (min-width: 768px) and (max-width: 992px) {}
@media screen and (min-width: 576px) and (max-width: 768px) {}
@media screen and (min-width: 464px) and (max-width: 576px) {}
@media screen and (min-width: 360px) and (max-width: 464px) {}
@media screen and (min-width: 320px) and (max-width: 360px) {}
@media screen and (max-width: 320px) {}
*/
