:root {
  --dark-shade1: #000000;
  --dark-shade2: #141414;
  --dark-shade3: #0e1111;
  --dark-shade4: #1b1b1b;
  --dark-shade5: #242424;
  --dark-shade6: #232b2b;

  --light-shade1: #ffffff;
  --light-shade2: #f8f1e5;

  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Roboto Slab', serif;
  --font-fancy: 'Montserrat', sans-serif;

  --secondary-color: #fa1e0e;

  --color-whatsapp: #25d366;
  --color-facebook: #4267b2;
  --color-linkedin: #2867b2;
  --color-instagram: #f77737;
  --color-twitter: #1da1f2;
  --color-github: #333;
}

::selection {
  background: var(--secondary-color);
  color: var(--light-shade1);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  background: var(--dark-shade2);
}
body * {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

p {
  margin: 0;
}

/*------------------------------ LOADING ANIMATION ------------------------------*/
/*Main Loader*/
.loader {
  width: 100%;
  height: 100vh;
  position: relative;
  background: var(--dark-shade2);
  z-index: 10;
}
.main-box {
  position: relative;
  top: 42%;
  left: 45%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  padding: 0.1rem;

  animation: rotate 5s linear infinite;
  -webkit-animation: rotate 5s linear infinite;
}
.main-box div {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.box {
  width: 20px;
  height: 20px;
  margin: 0.1rem;
  border-radius: 3px;

  animation: shrinksize 0.8s linear infinite;
  -webkit-animation: shrinksize 0.8s linear infinite;
}
.box.one {
  background: #ef5742;
  animation-delay: -0.2s;
  -webkit-animation-delay: -0.2s;
}
.box.two {
  background: #73a528;
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
.box.three {
  background: #0556f3;
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}
.box.four {
  background: #ffae00;
  animation-delay: -0.1s;
  -webkit-animation-delay: -0.1s;
}
/*Circle Loader*/
.content-loader {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-style: solid;
  border-radius: 50%;
  border-width: 6px;
  border-top-color: #ef5742;
  border-right-color: #73a528;
  border-bottom-color: #0556f3;
  border-left-color: #ffae00;
  width: 40px;
  height: 40px;
  background: transparent;
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
}
.content-loader.solid {
  border-style: solid;
}
.content-loader.dotted {
  border-style: dotted;
}
.content-loader.sm {
  border-width: 3px;
  width: 30px;
  height: 30px;
}
.content-loader.md {
  border-width: 6px;
  width: 40px;
  height: 40px;
}
.content-loader.lg {
  border-width: 9px;
  width: 60px;
  height: 60px;
}
/*Bar Loader*/
.skeleton-loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* opacity: 0.5; */
}
.skeleton-loader .skeleton-text {
  position: relative;
  padding: 0.7rem;
  height: 20px;
  border-radius: 2px;
  background: #29323c;
  margin-bottom: 0.6rem;
  overflow: hidden;
}
.skeleton-loader .skeleton-text.w-full {
  width: 100%;
}
.skeleton-loader .skeleton-text.w-half {
  width: 50%;
}
.skeleton-loader .skeleton-text:last-child {
  margin-bottom: 0;
  width: 65%;
}
.skeleton-loader .skeleton-text:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 40%;
  height: 100%;
  border-radius: inherit;
  background-image: linear-gradient(to right, #5e6c7712, #eef2f310, #5e6c7712);
  -webkit-animation: translateLeftRight 1s ease-in-out infinite alternate;
  animation: translateLeftRight 1s ease-in-out infinite alternate;
}
.skeleton-loader .skeleton-text:nth-child(odd):after {
  animation-delay: 0.2s;
}
@keyframes shrinksize {
  0%,
  100% {
    transform: scale(1);
  }
  25%,
  75% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.6);
  }
}
@-webkit-keyframes shrinksize {
  0%,
  100% {
    -webkit-transform: scale(1);
  }
  25%,
  75% {
    -webkit-transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(0.6);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes translateLeftRight {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@-webkit-keyframes translateLeftRight {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

/*--------------------------- GLOBAL STYLE ------------------------------------*/
#main-body {
  display: none;
  position: relative;
  width: 100%;
  height: auto;
  color: var(--light-shade2);
  font-family: var(--font-primary);
  overflow: auto;
  padding: 0;
}
/*-- Text Component --*/
.text.secondary--type {
  color: var(--secondary-color);
}
.highlight-heading,
.sub-heading {
  font-family: var(--font-fancy);
  text-transform: uppercase;
  font-weight: 800;
}
.text-weight-bold {
  font-weight: 600;
}
/*-- Link Component --*/
.link:focus {
  outline: none;
}
.link:active {
  opacity: 0.9;
}
/* ::after selector */
*::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}
/* SVG Component */
.svg {
  position: relative;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.svg .secondary--type {
  fill: var(--secondary-color);
}
/*-- Button Component --*/
.bttn {
  border: none;
  padding: 0.8rem 1.7rem;
  font-family: var(--font-fancy);
}
.bttn:focus {
  outline: none;
}
.bttn[disabled] {
  cursor: not-allowed;
}
.bttn.secondary--type {
  border-radius: 100px;
  background: var(--secondary-color);
  color: var(--light-shade1);
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
  z-index: 0;
}
body[data-mobile-device='false'] .bttn.secondary--type::after {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: rgba(0, 0, 0, 0.35);
  z-index: -1;
  pointer-events: none;
  transform: scale(0);
  -webkit-transform: scale(0);
  transform-origin: center;
  transition: all 0.2s ease-in-out;
}
body[data-mobile-device='false'] .bttn.secondary--type:hover::after,
body[data-mobile-device='false'] .bttn.secondary--type:focus::after {
  transform: scale(1);
  -webkit-transform: scale(1);
}
.bttn.secondary--type:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
}
/*-- Model Component --*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  z-index: 10;
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
}
.overlay::after {
  width: inherit;
  height: inherit;
  z-index: 9;
  pointer-events: none;
  background: var(--dark-shade3);
  opacity: 0.7;
}
.model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  color: var(--dark-shade6);
  border-radius: 5px;
  padding: 0.1rem;
  z-index: 20;
  max-height: 75vh;
  overflow: hidden auto;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.overlay.hide,
.model.hide {
  visibility: hidden;
  opacity: 0;
}
.model.hide {
  transform: translate(-50%, -50%) scale(1.15);
  -webkit-transform: translate(-50%, -50%) scale(1.15);
}
@media screen and (min-width: 992px) {
  .model {
    width: 40%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .model {
    width: 50%;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .model {
    width: 70%;
  }
}
@media screen and (max-width: 576px) {
  .model {
    width: 85%;
  }
}
.model-head,
.model-body {
  border-radius: inherit;
}
.model-body {
  width: 100%;
  height: 100%;
}
.model-head > *,
.model-body > * {
  padding: 1rem;
}
.model-body > div {
  width: 100%;
  height: 100%;
}
.model-body > div ul,
.model-body > div ol {
  padding-left: 1.5rem;
}
.model-body > div a {
  color: var(--secondary-color);
  font-weight: 600;
}
.model-body > div a:hover,
.model-body > div a:focus {
  text-decoration: underline;
}
.close-model--btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0.4rem;
  width: 43px;
  height: 43px;
  border: none;
  font-size: 2.3rem;
  border-radius: 50%;
  color: var(--light-shade1);
  z-index: inherit;
  background: transparent;
}
.close-model--btn > span {
  position: relative;
  top: -14px;
}
/* Horizontal Line Component */
div.hr {
  width: 100%;
  height: 2px;
  background: #ffffff20;
  border-radius: 100px;
}
/* Flex Wrapper */
.flex-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* Image Component */
img {
  object-fit: cover;
}
/* scrollbar  */
.content-overflow::-webkit-scrollbar {
  width: 7px;
}
.content-overflow::-webkit-scrollbar-track {
  background: var(--light-shade1);
  border-radius: 0;
}
.content-overflow::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 1.5px;
}
/*.content-overflow::-webkit-scrollbar-thumb:hover {  }*/

/*--------------------------- LAZY LOAD EFFECT ------------------------*/
.lazy-opacity,
.lazy-img {
  opacity: 0.15;
}
.lazy-transition--left,
.lazy-transition--bottom {
  transition-delay: 0.2s;
}
.lazy-transition--left {
  transform: translateX(-24px);
}
.lazy-transition--bottom {
  transform: translateY(24px);
}
.lazy-opacity,
.lazy-transition--left,
.lazy-transition--bottom,
.lazy-img {
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
}

/*--------------------------- NAVBAR ------------------------*/
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 85px;
  height: 100%;
  z-index: 2;
  background: var(--dark-shade1);
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  border-left: 0.1px solid var(--light-shade2);
}
.navbar.open {
  transform: translateX(0);
}
.navbar .navbar-toggler {
  position: absolute;
  top: 11.4%;
  left: 0;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  width: 25px;
  height: 55px;
  padding: 0 0.1rem 0 0.1rem;
  border-radius: 2.5px 0 0 2.5px;
  border-width: 1.5px 0 1.5px 1.5px;
  border-color: var(--light-shade1);
  border-style: solid;
  background: var(--secondary-color);
  color: var(--light-shade2);
  text-align: center;
}
.navbar-toggler--icon {
  font-size: 1.5rem;
}
.navbar.open .navbar-toggler--icon {
  transform: rotate(180deg);
}
.navbar-toggler:active {
  opacity: 0.9;
}
.nav-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.nav-item {
  width: 100%;
  flex: 1;
}
.nav-item:not(:last-child) {
  border-bottom: 0.5px solid var(--light-shade1);
}
.nav-link {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--dark-shade5);
  color: var(--light-shade1);
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 0;
}
.nav-link span {
  margin-top: auto;
}
.nav-link.active {
  background: var(--secondary-color);
}
.nav-link--icon {
  font-size: 1.6rem;
}
.nav-link--text {
  font-family: var(--font-fancy);
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
}
.nav-link:hover {
  color: inherit;
  text-decoration: none;
}
body[data-mobile-device='false'] .nav-link::after {
  width: inherit;
  height: inherit;
  background: var(--secondary-color);
  opacity: 0.2;
  pointer-events: none;
  z-index: -1;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform-origin: right;
  -webkit-transform-origin: right;
  transition: all 0.25s ease-in-out;
}
body[data-mobile-device='false'] .nav-wrapper .nav-link:hover::after,
body[data-mobile-device='false'] .nav-wrapper .nav-link:focus::after {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}
/*--------------------------- END OF NAVBAR ------------------------*/

/*---------------------------- THEME PICKER PALLETE -------------------------*/
/*Color Btn*/
.color--btn {
  padding: 0.6rem 1rem;
}
.theme-picker {
  flex-direction: column;
}
.theme-picker h5 {
  font-family: var(--font-fancy);
  font-weight: 500;
}
.theme-picker .pallete {
  display: flex;
}
.theme-picker .pallete:last-child {
  margin-top: 1.5rem;
}
.theme-picker .color--btn {
  margin-right: 1rem;
  width: 32px;
  height: 32px;
  border-radius: 2px;
  border: none;
}
.theme-picker .color--btn:last-child {
  margin-right: 0;
}
.theme-picker .color--btn.active,
body[data-mobile-device='false'] .theme-picker .color--btn:not(.active):hover,
body[data-mobile-device='false'] .theme-picker .color--btn:focus {
  border-radius: 50% 50% 50% 5%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
body[data-mobile-device='true'] .theme-picker .color--btn:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
}
/*---------------- END OF THEME PICKER PALLETE --------------------*/

/*
@media screen and (min-width: 1400px) {}
@media screen and (min-width: 1200px) and (max-width: 1400px) {}
@media screen and (min-width: 992px) and (max-width: 1200px) {}
@media screen and (min-width: 768px) and (max-width: 992px) {}
@media screen and (min-width: 576px) and (max-width: 768px) {}
@media screen and (min-width: 464px) and (max-width: 576px) {}
@media screen and (min-width: 360px) and (max-width: 464px) {}
@media screen and (min-width: 320px) and (max-width: 360px) {}
@media screen and (max-width: 320px) {}
*/
