{% extends 'base-2.html' %} {% load static %} 
{% block title %}<title>My Projects - Mohit Kumar</title>{% endblock title %} 
{% block page-stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}?{% now 'U' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/pagination.css' %}?{% now 'U' %}"/>
{% endblock page-stylesheet %} 

{% block page-title %}<span>My <span class="text secondary--type">Portfolio</span></span>{% endblock page-title %}

{% block page-content %}
  {% include 'project/snippets/pagination.html' %}

  <div class="page-content project lazy-transition--bottom">
    <div class="project--wrapper flex-wrapper justify-content-around">

      <div class="project--div skeleton">
        <div class="project--card">
          <div class="project-thumbnail-img"></div>

          <div class="project-content">
            <div class="project-headline">
              <a href="#view" class="link display-card--link"></a>
              <h5 class="headline text-weight-bold">
                <div class="skeleton-text w-full"></div>
              </h5>
            </div>

            <div class="hr"></div>

            <div class="row">
              <div class="col-6">
                <div class="skeleton-text w-full"></div>
              </div>
              <div class="col-6">
                <div class="skeleton-text w-full"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="skeleton-text w-full"></div>
              </div>
              <div class="col-6">
                <div class="skeleton-text w-full"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="project--div skeleton">
        <div class="project--card">
          <div class="project-thumbnail-img"></div>

          <div class="project-content">
            <div class="project-headline">
              <a href="#view" class="link display-card--link"></a>
              <h5 class="headline text-weight-bold">
                <div class="skeleton-text w-full"></div>
              </h5>
            </div>

            <div class="hr"></div>

            <div class="row">
              <div class="col-6">
                <div class="skeleton-text w-full"></div>
              </div>
              <div class="col-6">
                <div class="skeleton-text w-full"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="skeleton-text w-full"></div>
              </div>
              <div class="col-6">
                <div class="skeleton-text w-full"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="project--div skeleton">
        <div class="project--card">
          <div class="project-thumbnail-img"></div>

          <div class="project-content">
            <div class="project-headline">
              <a href="#view" class="link display-card--link"></a>
              <h5 class="headline text-weight-bold">
                <div class="skeleton-text w-full"></div>
              </h5>
            </div>

            <div class="hr"></div>

            <div class="row">
              <div class="col-6">
                <div class="skeleton-text w-full"></div>
              </div>
              <div class="col-6">
                <div class="skeleton-text w-full"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="skeleton-text w-full"></div>
              </div>
              <div class="col-6">
                <div class="skeleton-text w-full"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="project--div skeleton">
        <div class="project--card">
          <div class="project-thumbnail-img"></div>

          <div class="project-content">
            <div class="project-headline">
              <a href="#view" class="link display-card--link"></a>
              <h5 class="headline text-weight-bold">
                <div class="skeleton-text w-full"></div>
              </h5>
            </div>

            <div class="hr"></div>

            <div class="row">
              <div class="col-6">
                <div class="skeleton-text w-full"></div>
              </div>
              <div class="col-6">
                <div class="skeleton-text w-full"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="skeleton-text w-full"></div>
              </div>
              <div class="col-6">
                <div class="skeleton-text w-full"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="project--div">
        <div class="project--card">
          <div class="project-thumbnail-img">
            <img
              src="{% static 'media/image/triangle.png' %}"
              class="project--img"
              alt="Project Image"
            />
          </div>

          <div class="project-content">
            <div class="project-headline">
              <a href="#view" class="link display-card--link"></a>
              <h5 class="headline text-weight-bold">
                Top 10 Toolkits for deep learning in 2020
              </h5>
            </div>

            <div class="hr"></div>

            <div class="project-tech-stack flex-wrapper">
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">html</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">css</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">html</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">css</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="project--div">
        <div class="project--card">
          <div class="project-thumbnail-img">
            <img
              src="{% static 'media/image/iace-hackathon.png' %}"
              class="project--img"
              alt="Project Image"
            />
          </div>

          <div class="project-content">
            <div class="project-headline">
              <a href="#view" class="link display-card--link"></a>
              <h5 class="headline text-weight-bold">
                Top 10 Toolkits for deep learning in 2020
              </h5>
            </div>

            <div class="hr"></div>

            <div class="project-tech-stack flex-wrapper">
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">html</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">css</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">html</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">css</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="project--div">
        <div class="project--card">
          <div class="project-thumbnail-img">
            <img
              src="{% static 'media/image/django.png' %}"
              class="project--img"
              alt="Project Image"
            />
          </div>

          <div class="project-content">
            <div class="project-headline">
              <a href="#view" class="link display-card--link"></a>
              <h5 class="headline text-weight-bold">
                Top 10 Toolkits for deep learning in 2020
              </h5>
            </div>

            <div class="hr"></div>

            <div class="project-tech-stack flex-wrapper">
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">html</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">css</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">html</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">css</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="project--div">
        <div class="project--card">
          <div class="project-thumbnail-img">
            <img
              src="{% static 'media/image/iace-hackathon.png' %}"
              class="project--img"
              alt="Project Image"
            />
          </div>

          <div class="project-content">
            <div class="project-headline">
              <a href="#view" class="link display-card--link"></a>
              <h5 class="headline text-weight-bold">
                Top 10 Toolkits for deep learning in 2020
              </h5>
            </div>

            <div class="hr"></div>

            <div class="project-tech-stack flex-wrapper">
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">html</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">css</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">html</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">css</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="project--div">
        <div class="project--card">
          <div class="project-thumbnail-img">
            <img
              src="{% static 'media/image/iace-hackathon.png' %}"
              class="project--img"
              alt="Project Image"
            />
          </div>

          <div class="project-content">
            <div class="project-headline">
              <a href="#view" class="link display-card--link"></a>
              <h5 class="headline text-weight-bold">
                Top 10 Toolkits for deep learning in 2020
              </h5>
            </div>

            <div class="hr"></div>

            <div class="project-tech-stack flex-wrapper">
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">html</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">css</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">html</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">css</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="project--div">
        <div class="project--card">
          <div class="project-thumbnail-img">
            <img
              src="{% static 'media/image/iace-hackathon.png' %}"
              class="project--img"
              alt="Project Image"
            />
          </div>

          <div class="project-content">
            <div class="project-headline">
              <a href="#view" class="link display-card--link"></a>
              <h5 class="headline text-weight-bold">
                Top 10 Toolkits for deep learning in 2020
              </h5>
            </div>

            <div class="hr"></div>

            <div class="project-tech-stack flex-wrapper">
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">html</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">css</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">html</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">css</a>
              </div>
              <div class="tech-badge text-weight-bold">
                <a href="#" class="link tech-badge--link">Python</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'project/snippets/pagination.html' %}

  <div class="page-content project--mentor mt-2 lazy-transition--bottom">
    <div class="page-content-header">
      <h3 class="sub-heading">
        <span>Thank</span> <span class="text secondary--type">You</span>
      </h3>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 p-1 mb-2">
        <div class="info-card skeleton">
          <div class="info-card--left">
            <div class="skeleton-circle"></div>
          </div>
          <div class="info-card--right">
            <div class="info-card--content">
              <div class="skeleton-text w-half"></div>
            </div>
            
            <div class="info-card--content">
              <div class="skeleton-text w-half"></div>
            </div>
            
            <div class="info-card--content">
              <div class="skeleton-text w-half"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 p-1 mb-2">
        <div class="info-card skeleton">
          <div class="info-card--left">
            <div class="skeleton-circle"></div>
          </div>
          <div class="info-card--right">
            <div class="info-card--content">
              <div class="skeleton-text w-half"></div>
            </div>
            
            <div class="info-card--content">
              <div class="skeleton-text w-half"></div>
            </div>
            
            <div class="info-card--content">
              <div class="skeleton-text w-half"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 p-1 mb-2">
        <div class="info-card skeleton">
          <div class="info-card--left">
            <div class="skeleton-circle"></div>
          </div>
          <div class="info-card--right">
            <div class="info-card--content">
              <div class="skeleton-text w-half"></div>
            </div>
            
            <div class="info-card--content">
              <div class="skeleton-text w-half"></div>
            </div>
            
            <div class="info-card--content">
              <div class="skeleton-text w-half"></div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <div class="row">
      {% comment %} <div class="col-lg-4 col-md-6 col-sm-12 p-1 mb-2">
        <div class="info-card">
          <div class="info-card--left">
            <img src="https://avatars.githubusercontent.com/u/33843378?v=4" />
          </div>
          <div class="info-card--right">
            <div class="info-card--content">
              <p class="experience--duration pill-badge text-weight-bold">
                Dennis Ivy
              </p>
            </div>

            <div class="info-card--content">
              <p class="experience--position">
                <a href="#" class="link" target="_blank">Youtube Channel</a>
              </p>
              <p class="experience--position">
                <a href="#" class="link" target="_blank">Udemy Channel</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 p-1 mb-2">
        <div class="info-card">
          <div class="info-card--left">
            <img src="https://avatars.githubusercontent.com/u/33843378?v=4" />
          </div>
          <div class="info-card--right">
            <div class="info-card--content">
              <p class="experience--duration pill-badge text-weight-bold">
                Justin Mitchel
              </p>
            </div>

            <div class="info-card--content">
              <p class="experience--position">
                <a href="#" class="link" target="_blank">Udemy Channel</a>
              </p>
              <p class="experience--position">
                <a href="#" class="link" target="_blank">Youtube Channel</a>
              </p>
            </div>
          </div>
        </div>
      </div> {% endcomment %}

    </div>
  </div>

{% endblock page-content %}
