
{% extends 'home/common/base.html' %}

{% load static %}

{% block title %}
	<title>My Projects - Mohit Kumar</title>
{% endblock title %}


{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}?{% now 'U' %}">
{% endblock stylesheet %}


{% block content %}
	
	<section class="normal-container">

		<div class="page-header check-mobile">
			<h1 class="highlight-heading"><span>My <span class="text secondary--type">Portfolio</span></span></h1>
		</div>

		<div class="page-content project">
			<div class="project--wrapper">
				<div class="project--div">
					<div class="project--card">
						<div class="project-thumbnail-img">
							<img src="{% static 'media/image/iace-hackathon.png' %}" class="project--img" alt="Project Image">
						</div>

						<div class="project-content">
							<div class="project-headline">
								<a href="#view" class="link display-card--link"></a>
								<h5 class="headline">Top 10 Toolkits for deep learning in 2020</h5>
							</div>

							<div class="hr"></div>

							<div class="project-tech-stack">
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">html</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">css</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">html</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">css</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
							</div>

						</div>
					</div>
				</div>

				<div class="project--div">
					<div class="project--card">
						<div class="project-thumbnail-img">
							<img src="{% static 'media/image/iace-hackathon.png' %}" class="project--img" alt="Project Image">
						</div>

						<div class="project-content">
							<div class="project-headline">
								<a href="#view" class="link display-card--link"></a>
								<h5 class="headline">Top 10 Toolkits for deep learning in 2020</h5>
							</div>

							<div class="hr"></div>

							<div class="project-tech-stack">
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">html</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">css</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">html</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">css</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
							</div>

						</div>
					</div>
				</div>

				<div class="project--div">
					<div class="project--card">
						<div class="project-thumbnail-img">
							<img src="{% static 'media/image/django.png' %}" class="project--img" alt="Project Image">
						</div>

						<div class="project-content">
							<div class="project-headline">
								<a href="#view" class="link display-card--link"></a>
								<h5 class="headline">Top 10 Toolkits for deep learning in 2020</h5>
							</div>

							<div class="hr"></div>

							<div class="project-tech-stack">
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">html</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">css</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">html</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">css</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
							</div>

						</div>
					</div>
				</div>

				<div class="project--div">
					<div class="project--card">
						<div class="project-thumbnail-img">
							<img src="{% static 'media/image/iace-hackathon.png' %}" class="project--img" alt="Project Image">
						</div>

						<div class="project-content">
							<div class="project-headline">
								<a href="#view" class="link display-card--link"></a>
								<h5 class="headline">Top 10 Toolkits for deep learning in 2020</h5>
							</div>

							<div class="hr"></div>

							<div class="project-tech-stack">
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">html</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">css</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">html</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">css</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
							</div>

						</div>
					</div>
				</div>

				<div class="project--div">
					<div class="project--card">
						<div class="project-thumbnail-img">
							<img src="{% static 'media/image/iace-hackathon.png' %}" class="project--img" alt="Project Image">
						</div>

						<div class="project-content">
							<div class="project-headline">
								<a href="#view" class="link display-card--link"></a>
								<h5 class="headline">Top 10 Toolkits for deep learning in 2020</h5>
							</div>

							<div class="hr"></div>

							<div class="project-tech-stack">
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">html</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">css</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">html</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">css</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
							</div>

						</div>
					</div>
				</div>

				<div class="project--div">
					<div class="project--card">
						<div class="project-thumbnail-img">
							<img src="{% static 'media/image/iace-hackathon.png' %}" class="project--img" alt="Project Image">
						</div>

						<div class="project-content">
							<div class="project-headline">
								<a href="#view" class="link display-card--link"></a>
								<h5 class="headline">Top 10 Toolkits for deep learning in 2020</h5>
							</div>

							<div class="hr"></div>

							<div class="project-tech-stack">
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">html</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">css</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">html</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">css</a></div>
								<div class="tech-badge"><a href="#" class="link tech-badge--link">Python</a></div>
							</div>

						</div>
					</div>
				</div>
				
			</div>
		</div>


		{% include 'home/common/footer.html' %}
			
	</section>

{% endblock content %}