{% extends 'base-2.html' %} {% load static %} 
{% block title %}<title>My Portfolio - Mohit Kumar</title>{% endblock title %} 

{% block page-stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}?{% now 'U' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/pagination.css' %}?{% now 'U' %}"/>
{% endblock page-stylesheet %} 

{% block page-title %}<span>My <span class="text secondary--type">Portfolio</span></span>{% endblock page-title %}

{% block meta %}
<meta name="description" content="In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.">
<meta name="keywords" content="projects of mohit, mohit kumar, mohit portfolio, iiit bhubaneswar, mohit iiit">

<meta property="og:site_name" content="Mohit Kumar">
<meta property="og:title" content="Projects done by Mohit Kumar">
<meta property="og:description" content="In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.">
<meta property="og:url" content="__PAGE_URL__">
<meta property="og:type" content="article">

<meta property="article:publisher" content="__PAGE_URL__"/>
<meta property="article:tag" content="Portfolio"/>
<meta property="article:author" content="Mohit Kumar"/>

<meta property="og:image" content="__PROJECT_DEFAULT_PIC__">
<meta property="og:image:secure_url" content="__PROJECT_DEFAULT_PIC__">
<meta property="og:image:width" content="1280">
<meta property="og:image:height" content="640">

<meta property="twitter:card" content="In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content." />
<meta property="twitter:image" content="__PROJECT_DEFAULT_PIC__" />
<meta property="twitter:site" content="Mohit Kumar" />
{% endblock meta %}

{% block page-content %}

  <div class="page-content project">
    <div class="project--wrapper flex-wrapper justify-content-around"></div>
  </div>

  <div class="page-content pagination" style="padding: 0.1rem">
    <div class="pagination--wrapper"></div>
  </div>

  <div class="page-content pagination mt-4" style="padding: 0.1rem">
    <button class="bttn secondary--type mx-auto" onclick="window.location.href=`{% url 'project:all_projects' %}`">See All Projects</button>
  </div>

  <div class="page-content project--mentor mt-5 animate-up mid">
    <div class="page-content-header">
      <h3 class="sub-heading">
        <span>Thank</span> <span class="text secondary--type">You</span>
      </h3>
    </div>
    <div class="project--mentor--content"></div>
  </div>

{% endblock page-content %}
