{% extends 'base-2.html' %} {% load static %}
{% block title %}<title>Title of project - Mohit Kumar</title>{% endblock title %}
{% block page-stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}?{% now 'U' %}">
{% endblock page-stylesheet %}

{% block page-title %}<span>Project <span class="text secondary--type">#12</span></span>{% endblock page-title %}

{% block page-content %}
	<div class="page-content project-detail animate-up max">
		<div class="responsive-wrapper">
			<div class="project-detail--div">
				<div class="part-one"></div>
				<div class="hr"></div>
				<div class="part-two"></div>
				<div class="hr"></div>

				<div class="part-three">
					<div class="page-content-header">
						<h4 class="sub-heading"><span>VIDEO</span> <span class="text secondary--type">Demo</span></h4>	
						<p class="text-danger">Add I FRAME and link the src to it in asyc way, otherwise it is taking a lot of time</p>			
					</div>
					
					<div class="project--video-demo">
						<!-- <iframe src="https://player.vimeo.com/video/576641330" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe> -->
					</div>
				</div>

			</div>
		</div>
	</div>
{% endblock page-content %}

<!--

<div class="page-content-header">
						<h4 class="sub-heading"><span>Project</span> <span class="text secondary--type">Picture</span></h4>		
					</div>

					<div class="display-card--wrapper img-model-view">	
						<div class="display-card--div social-link--div skeleton">
							<div class="display-card social-link" tabindex="0">
								<div class="display-card--img social-link--img skeleton-image">
								</div>
							</div>
						</div>

						<div class="display-card--div social-link--div skeleton">
							<div class="display-card social-link" tabindex="0">
								<div class="display-card--img social-link--img skeleton-image">
								</div>
							</div>
						</div>

						<div class="display-card--div social-link--div skeleton">
							<div class="display-card social-link" tabindex="0">
								<div class="display-card--img social-link--img skeleton-image">
								</div>
							</div>
						</div>

						<div class="display-card--div" data-img-src="{% static 'media/image/webdev-mern.png' %}">
							<div class="display-card">
								<div class="display-card--img">
									<img src="{% static 'media/image/webdev-mern.png' %}" class="award--img" onerror="this.closest('.display-card').querySelector('.overlay--div').style.display='none'"/>
								</div>

								

								<div class="overlay--div"><span>View</span></div>
							</div>
						</div>

						<div class="display-card--div" data-img-src="{% static 'media/image/webdev-mern.png' %}">
							<div class="display-card">
								<div class="display-card--img">
									<img src="{% static 'media/image/webdev-mern.png' %}" class="award--img" onerror="this.closest('.display-card').querySelector('.overlay--div').style.display='none'"/>
								</div>



								<div class="overlay--div"><span>View</span></div>
							</div>
						</div>

						<div class="display-card--div" data-img-src="{% static 'media/image/iace-hackathon.png' %}">
							<div class="display-card">
								<div class="display-card--img">
									<img src="{% static 'media/image/iace-hackathon.png' %}" class="award--img" onerror="this.closest('.display-card').querySelector('.overlay--div').style.display='none'" />
								</div>


								<div class="overlay--div"><span>View</span></div>
							</div>
						</div>

						<div class="display-card--div" data-img-src="{% static 'media/image/iace-hackathon.png' %}">
							<div class="display-card">
								<div class="display-card--img">
									<img src="{% static 'media/image/iace-hackathon.png' %}" class="award--img" onerror="this.closest('.display-card').querySelector('.overlay--div').style.display='none'" />
								</div>


								<div class="overlay--div"><span>View</span></div>
							</div>
						</div>

						<div class="display-card--div" data-img-src="{% static 'media/image/webdev-mern.png' %}">
							<div class="display-card">
								<div class="display-card--img">
									<img src="{% static 'media/image/webdev-mern.jpg' %}" class="award--img" onerror="this.closest('.display-card').querySelector('.overlay--div').style.display='none'"/>
								</div>
								<div class="overlay--div"><span>View</span></div>
							</div>
						</div>
					
					</div>

-->