<div class="page-content pagination check-mobile" style="padding:0.1rem;">
	<div class="pagination--wrapper">
		<div class="pagination-controller">
			<button class="bttn pagination-controller--btn prev--btn"><span class="fa fa-angle-left icon"></span></button>
		</div>

		<div class="pagination-list--wrapper">
			<ul class="pagination-list">
				<li class="pagination-item">
					<button class="bttn pagination-page--btn">1</button>
				</li>
				<li class="pagination-item">
					<button class="bttn pagination-page--btn active">2</button>
				</li>
				<li class="pagination-item">
					<button class="bttn pagination-page--btn">3</button>
				</li>
				<li class="pagination-item">
					<button class="bttn pagination-page--btn">4</button>
				</li>
				<!-- Extra -->
				<li class="pagination-item">
					<button class="bttn pagination-page--btn">5</button>
				</li>
				<li class="pagination-item">
					<button class="bttn pagination-page--btn">6</button>
				</li>
			</ul>
		</div>

		<div class="pagination-controller">
			<button class="bttn pagination-controller--btn next--btn"><span class="fa fa-angle-right icon"></span></button>
		</div>
	</div>
</div>