<div class="content theme-picker">
    <h5 class="mb-3">Pick Theme</h5>
    <div class="pallete">
      <button
        class="bttn color--btn"
        data-color="#913ee8"
        style="background: #913ee8"
      ></button>
      <button
        class="bttn color--btn"
        data-color="#01937c"
        style="background: #01937c"
      ></button>
      <button
        class="bttn color--btn"
        data-color="#fa1e0e"
        style="background: #fa1e0e"
      ></button>
      <button
        class="bttn color--btn"
        data-color="#a0522d"
        style="background: #a0522d"
      ></button>
      <button
        class="bttn color--btn"
        data-color="#ef5742"
        style="background: #ef5742"
      ></button>
    </div>
    <div class="pallete">
      <button
        class="bttn color--btn"
        data-color="#f97194"
        style="background: #f97194"
      ></button>
      <button
        class="bttn color--btn"
        data-color="#ffae00"
        style="background: #ffae00"
      ></button>
      <button
        class="bttn color--btn"
        data-color="#73a528"
        style="background: #73a528"
      ></button>
      <button
        class="bttn color--btn"
        data-color="#fe4c03"
        style="background: #fe4c03"
      ></button>
      <button
        class="bttn color--btn"
        data-color="#0556f3"
        style="background: #0556f3"
      ></button>
    </div>
  </div>