{% extends 'base.html' %} {% load static %}
{% block stylesheet %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/base-1.css' %}?{% now 'U' %}"/>
{% block page-stylesheet %} {% endblock page-stylesheet %}
{% endblock stylesheet %} 
{% block content %}
<div class="main-container row">
  <div class="content--left col-lg-5 col-md-6 col-sm-12 content-overflow">
    <div class="img-container">
        {% block img-content %} {% endblock img-content %}
    </div>
  </div>
  <div class="content--right col-lg-7 col-md-6 col-sm-12 content-overflow">
    <div class="content-container">
        {% block text-content %} {% endblock text-content %}
    </div>
  </div>
</div>
{% endblock content %}
