{% extends 'base-2.html' %} {% load static %}
{% block title %}<title>About Me - Mohit Kumar</title>{% endblock title %} 

{% block page-stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}?{% now 'U' %}"/>
{% endblock page-stylesheet %} 

{% block page-title %}<span>About <span class="text secondary--type">Me</span></span>{% endblock page-title %}

{% block page-content %}

  <div class="page-content about-me lazy-transition--bottom">
    <div class="responsive-wrapper">
      <div class="about-me--div">
        <h4 class="text-weight-bold">Personal Infos</h4>
        <div class="about-me--content flex-wrapper"></div>
      </div>
    </div>
  </div>

  <div class="page-content about-education lazy-transition--bottom">
    <div class="page-content-header">
      <h3 class="sub-heading">
        <span>My</span> <span class="text secondary--type">Education</span>
      </h3>
    </div>

    <div class="responsive-wrapper">
      <div class="about-education--div">
        <div class="div--left">
          {% include 'svg/education-svg.html' %}
        </div>

        <div class="div--right about-education--content">
          <!-- 
								<div class="timeline">
									<div class="timeline--div">
										<div class="timeline--logo"><span class="fa fa-book"></span></div>
										<div class="timeline--content">
											<div class="timeline--duration pill-badge">2006 - 2017</div>
											<div class="timeline--didWhat">Elementary School</div>
											<div class="timeline--fromWhere">Bethany Convent School, Odisha</div>
										</div>
									</div>
								</div>
							-->

              <div class="timeline">
                <div class="timeline--div skeleton">
                  <div class="pill-badge mb-2 w-50 p-0">
                    <div class="skeleton-text w-full"></div>
                  </div>
                  <div class="skeleton-text w-full"></div>
                  <div class="skeleton-text w-full"></div>
                </div>

                <div class="timeline--div skeleton">
                  <div class="pill-badge mb-2 w-50 p-0">
                    <div class="skeleton-text w-full"></div>
                  </div>
                  <div class="skeleton-text w-full"></div>
                  <div class="skeleton-text w-full"></div>
                </div>
              </div>

        </div>
      </div>
    </div>
  </div>

  <div class="page-content about-skills lazy-transition--bottom">
    <div class="page-content-header">
      <h3 class="sub-heading">
        <span>My</span> <span class="text secondary--type">Skills</span>
      </h3>
    </div>

    <div class="skill--wrapper p-2 about-skills--content">
      <!-- 
					<div class="row m-0">
						<div class="col-lg-3 col-md-4 col-sm-12 mb-3">
							<div class="skill-bar--wrapper">
								<div class="skill-bar--label"><span>HTML</span></div>
								<div class="mk-progress">
									<div class="mk-progress-bar" style="width: 15%;"><span>35%</span></div>
								</div>
							</div>						
						</div>
					</div>
				-->

        <div class="row m-0">
          <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
            <div class="skill-bar--wrapper skeleton">
              <div class="skill-bar--label">
                <div class="skeleton-text w-half"></div>
                <div class="skeleton-text w-full"></div>
              </div>
            </div>						
          </div>

          <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
            <div class="skill-bar--wrapper skeleton">
              <div class="skill-bar--label">
                <div class="skeleton-text w-half"></div>
                <div class="skeleton-text w-full"></div>
              </div>
            </div>						
          </div>

        </div>

    </div>
  </div>

  <div class="page-content about-experience lazy-transition--bottom">
    <div class="page-content-header">
      <h3 class="sub-heading">
        <span>My</span> <span class="text secondary--type">Experience</span>
      </h3>
    </div>

    <div class="responsive-wrapper about-experience--content normal-model-view">
      
							{% comment %} <div class="row">
								<div class="col-lg-6 col-md-12 col-sm-12 p-1 mb-2">
									<div class="info-card">
										<div class="info-card--left">
											<img src="{% static 'media/image/verzeo-logo.png' %}" class="img-fluid" />
										</div>
										<div class="info-card--right">
											<div class="info-card--content">
												<p class="experience--duration pill-badge">2 months (2020)</p>
											</div>
											
											<div class="info-card--content">
												<p class="experience--position">Web Developer</p>
											</div>
											
											<div class="info-card--content">
												<p class="experience--company"><a href="#link" class="link">Verzeo</a></p>
											</div>
										</div>
									</div>
								</div>
							</div>  {% endcomment %}
						
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 p-1 mb-2">
          <div class="info-card skeleton">
            <div class="info-card--left">
              <div class="skeleton-circle"></div>
            </div>
            <div class="info-card--right">
              <div class="info-card--content">
                <div class="skeleton-text w-half"></div>
              </div>
              
              <div class="info-card--content">
                <div class="skeleton-text w-full"></div>
              </div>
              
              <div class="info-card--content">
                <div class="skeleton-text w-half"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 p-1 mb-2">
          <div class="info-card skeleton">
            <div class="info-card--left">
              <div class="skeleton-circle"></div>
            </div>
            <div class="info-card--right">
              <div class="info-card--content">
                <div class="skeleton-text w-half"></div>
              </div>
              
              <div class="info-card--content">
                <div class="skeleton-text w-full"></div>
              </div>
              
              <div class="info-card--content">
                <div class="skeleton-text w-half"></div>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>

  <div class="page-content about-awards lazy-transition--bottom">
    <div class="page-content-header">
      <h3 class="sub-heading">
        <span>My</span> <span class="text secondary--type">Awards</span>
      </h3>
    </div>

    <div class="about-awards--content img-model-view">
      <!-- 
					<div class="display-card--wrapper">
						<div class="display-card--div">
							<div class="display-card">
								<div class="display-card--img">
									<img src="{% static 'media/image/webdevjpg.jpg' %}" class="award--img"/>
								</div>

								<a href="{% static 'media/image/webdevjpg.jpg' %}" class="display-card--link" target="_blank"></a>

								<div class="overlay--div"><span>View</span></div>
							</div>
						</div>
					</div>
				-->

      <div class="display-card--wrapper">
        <div class="display-card--div skeleton">
          <div class="display-card">
            <div class="display-card--img skeleton-image">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock page-content %}

<!--

NOTE: 
IN AWARDS -
 use low resolution img while displaying the img,
 but the link will take the user to original image of higher resolution


-->
