{% extends 'base-2.html' %} {% load static %}
{% block title %}<title>About Mohit Kumar</title>{% endblock title %} 

{% block page-stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}?{% now 'U' %}"/>
{% endblock page-stylesheet %} 

{% block page-title %}<span>About <span class="text secondary--type">Me</span></span>{% endblock page-title %}

{% block meta %}
<meta name="description" content="In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.">
<meta name="keywords" content="about mohit, mohit kumar, mohit portfolio, iiit bhubaneswar, mohit iiit">

<meta property="og:site_name" content="Mohit Kumar">
<meta property="og:title" content="Know about Mohit Kumar">
<meta property="og:description" content="In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.">
<meta property="og:url" content="__PAGE_URL__">
<meta property="og:type" content="article">

<meta property="article:publisher" content="__PAGE_URL__"/>
<meta property="article:tag" content="Portfolio"/>
<meta property="article:author" content="Mohit Kumar"/>

<meta property="og:image" content="{% static 'media/logo/mk-final.png' %}">
<meta property="og:image:secure_url" content="{% static 'media/logo/mk-final.png' %}">
<meta property="og:image:width" content="1280">
<meta property="og:image:height" content="640">

<meta property="twitter:card" content="In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content." />
<meta property="twitter:image" content="{% static 'media/logo/mk-final.png' %}" />
<!-- image should be my avatar in contact and about page -->
<meta property="twitter:site" content="Mohit Kumar" />
{% endblock meta %}

{% block page-content %}
<div class="page-content about-me animate-up max">
  <div class="responsive-wrapper">
    <div class="about-me--div">
      <h4 class="text-weight-bold">Personal Infos</h4>
      <div class="about-me--content flex-wrapper"></div>
    </div>
  </div>
</div>

<div class="page-content about-education animate-up max">
  <div class="page-content-header">
    <h3 class="sub-heading">
      <span>My</span> <span class="text secondary--type">Education</span>
    </h3>
  </div>
  <div class="responsive-wrapper">
    <div class="about-education--div">
      <div class="div--left animate-right">
        {% include 'svg/education-svg.html' %}
      </div>
      <div class="div--right about-education--content animate-left"></div>
    </div>
  </div>
</div>

<div class="page-content about-skills animate-up max">
  <div class="page-content-header">
    <h3 class="sub-heading">
      <span>My</span> <span class="text secondary--type">Skills</span>
    </h3>
  </div>
  <div class="skill--wrapper p-2 about-skills--content"></div>
</div>

<div class="page-content about-experience animate-up max">
  <div class="page-content-header">
    <h3 class="sub-heading">
      <span>My</span> <span class="text secondary--type">Experience</span>
    </h3>
  </div>
  <div class="responsive-wrapper about-experience--content"></div>
</div>

<div class="page-content about-awards animate-up max">
  <div class="page-content-header">
    <h3 class="sub-heading">
      <span>My</span> <span class="text secondary--type">Awards</span>
    </h3>
  </div>
  <div class="about-awards--content"></div>
</div>
{% endblock page-content %}
