{% extends 'base-2.html' %} {% load static %}
{% block title %}<title>About Me - Mohit Kumar</title>{% endblock title %} 

{% block page-stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}?{% now 'U' %}"/>
{% endblock page-stylesheet %} 

{% block page-title %}<span>About <span class="text secondary--type">Me</span></span>{% endblock page-title %}

{% block page-content %}
<div class="page-content about-me animate-up max">
  <div class="responsive-wrapper">
    <div class="about-me--div">
      <h4 class="text-weight-bold">Personal Infos</h4>
      <div class="about-me--content flex-wrapper"></div>
    </div>
  </div>
</div>

<div class="page-content about-education animate-up max">
  <div class="page-content-header">
    <h3 class="sub-heading">
      <span>My</span> <span class="text secondary--type">Education</span>
    </h3>
  </div>
  <div class="responsive-wrapper">
    <div class="about-education--div">
      <div class="div--left animate-right">
        {% include 'svg/education-svg.html' %}
      </div>
      <div class="div--right about-education--content animate-left"></div>
    </div>
  </div>
</div>

<div class="page-content about-skills animate-up max">
  <div class="page-content-header">
    <h3 class="sub-heading">
      <span>My</span> <span class="text secondary--type">Skills</span>
    </h3>
  </div>
  <div class="skill--wrapper p-2 about-skills--content"></div>
</div>

<div class="page-content about-experience animate-up max">
  <div class="page-content-header">
    <h3 class="sub-heading">
      <span>My</span> <span class="text secondary--type">Experience</span>
    </h3>
  </div>
  <div class="responsive-wrapper about-experience--content"></div>
</div>

<div class="page-content about-awards animate-up max">
  <div class="page-content-header">
    <h3 class="sub-heading">
      <span>My</span> <span class="text secondary--type">Awards</span>
    </h3>
  </div>
  <div class="about-awards--content"></div>
</div>
{% endblock page-content %}
