{% extends 'base-2.html' %} {% load static %} 
{% block title %}<title>Contact Me - Mohit Kumar</title>{% endblock title %} 
{% block page-stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}?{% now 'U' %}"/>
{% endblock page-stylesheet %} 

{% block page-title %}<span>Contact <span class="text secondary--type">Me</span></span>{% endblock page-title %}

{% block page-content %}
<div class="page-content contact-me lazy-transition--bottom">
  <div class="row">
    <div class="content--left col-lg-4 avatar-wrapper">
      <img src="{% static 'media/avataar/mk-avataar-formal.png' %}" class="img-fluid avatar-img"/>
    </div>

    <div
      class="content--right col-lg-8 col-md-12 col-sm-12 contact-form-wrapper"
    >
      <div class="contact-detail">
        <div class="email">
          <a
            href="mailto:mahitkumar166@gmail.com"
            class="link contact-link default"
          >
            <span class="fa fa-envelope icon contact-link--icon"></span>
            <span class="contact-link--text">mahitkumar166@gmail.com</span>
          </a>
        </div>
        <div class="telephone">
          <a href="tel:9861013399" class="link contact-link">
            <span class="fa fa-phone icon contact-link--icon"></span>
            <span class="contact-link--text">+91 98610 13399</span>
          </a>
        </div>
      </div>

      <div class="contact-form--div">
        <form method="post" id="contact-form">
          <div class="form-group">
            <div class="joint-input input-div">
              <input
                type="text"
                class="user-input w-100"
                name="name"
                placeholder="Your Name"
                required
                spellcheck="false"
                data-minlength="2"
                data-maxlength="30"
              />
              <small class="help-text"
                >Atleast 2 and atmost 30 characters</small
              >
            </div>
            <div class="joint-input input-div">
              <input
                type="email"
                class="user-input w-100"
                name="email"
                placeholder="Your Email"
                required
                spellcheck="false"
                data-minlength="2"
                data-maxlength="50"
              />
              <small class="help-text"
                >Atleast 2 and atmost 30 characters. Should be a valid Email
                syntax</small
              >
            </div>
          </div>
          <div class="form-group">
            <div class="input-div">
              <input
                type="text"
                class="user-input w-100"
                name="subject"
                placeholder="Subject"
                required
                autocomplete="off"
                spellcheck="false"
                data-minlength="2"
                data-maxlength="255"
              />
              <small class="help-text"
                >Atleast 2 and atmost 255 characters</small
              >
            </div>
            <div class="input-div">
              <textarea
                class="user-input w-100"
                name="message"
                placeholder="Write your Message here..."
                rows="6"
                required
                spellcheck="false"
                data-minlength="2"
                data-maxlength="800"
              ></textarea>
              <small class="help-text"
                >Atleast 2 and atmost 800 characters</small
              >
            </div>
          </div>
          <div class="form-group">
            <button
              type="button"
              class="bttn secondary--type send-message--btn"
            >
              <span>SEND MESSAGE</span>
            </button>
          </div>
          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
</div>

<div class="page-content connect-with-me lazy-transition--bottom">
  <div class="page-content-header">
    <h3 class="sub-heading">
      <span>Connect</span> <span class="text secondary--type">with Me</span>
    </h3>
  </div>

  <div class="display-card--wrapper social-link--wrapper">
    <!-- 
        <div class="display-card--div social-link--div lazy-transition--bottom" data-social-handle="whatsapp">
          <div class="display-card social-link" tabindex="0">
      
            <div class="display-card--img social-link--img">
              <img src="{% static 'media/image/whatsapp-high.jpg' %}"/>
            </div>

            <a href="https://wa.me/919861013399" class="link display-card--link" target="_blank"></a>

            <div class="overlay--div"></div>

            <div class="social-link--logo">
              <span class="fa fa-whatsapp icon"></span>
            </div>
          </div>
        </div> -->

        <!-- <div class="display-card--div skeleton">
          <div class="display-card">
            <div class="display-card--img skeleton-image">
            </div>
          </div>
        </div> -->
  </div>
</div>
{% endblock page-content %}

