.content--left,
.content--right {
  padding: 1rem 0.5rem;
}
@media screen and (min-width: 992px) {
  .content--left {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  .content--left {
    display: none;
  }
}

.avatar-wrapper {
  text-align: center;
}
.avatar-img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  filter: drop-shadow(1.5px 1.2px 1px var(--secondary-color));
}

.contact-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.contact-detail div {
  width: 50%;
  text-align: center;
  border: 1.5px solid var(--light-shade1);
  border-radius: 3px;
}
.contact-detail div:first-child {
  margin-right: 2.5px;
}
.contact-detail div:last-child {
  margin-left: 2.5px;
}
.contact-link {
  width: 100%;
  height: 100%;
  padding: 1.2rem 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: inherit;
  color: var(--light-shade1);
}
.contact-link.default,
.contact-link:hover,
.contact-link:focus {
  background: var(--secondary-color);
  color: inherit;
  text-decoration: none;
}
.contact-link--icon {
  font-size: 2rem;
}
.contact-link--text {
  margin-top: 0.2rem;
  font-family: var(--font-fancy);
  font-size: 0.9rem;
  font-weight: 500;
  word-break: break-all;
}

/*-- Form --*/
#contact-form {
  padding: 2rem 0;
}
.form-group:first-child {
  display: flex;
  margin-bottom: 0;
}
.form-group .input-div {
  margin-bottom: 1.4rem;
}
.form-group .joint-input {
  width: 50%;
}
.form-group .joint-input:first-child {
  margin-right: 2.5px;
}
.form-group .joint-input:last-child {
  margin-left: 2.5px;
}
@media screen and (min-width: 576px) {
  .form-group:first-child {
    flex-direction: row;
  }
}
@media screen and (max-width: 576px) {
  .form-group:first-child {
    flex-direction: column;
  }
  .form-group .joint-input {
    width: 100%;
  }
  .form-group .joint-input:first-child {
    margin-right: 0;
  }
  .form-group .joint-input:last-child {
    margin-left: 0;
  }
}
.user-input {
  font-family: var(--font-fancy);
  padding: 0.7rem 1rem;
  color: var(--light-shade1);
  background: #232b2b90;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 0px 0px 1px #ffffff50;
}
.user-input[name='name'] {
  text-transform: capitalize;
}
.user-input:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px var(--secondary-color);
}
.help-text {
  margin-left: 0.15rem;
  font-size: 0.8rem;
  color: #dc3545;
  display: none;
}
.send-message--btn {
  float: right;
}

.display-card.social-link {
  background: var(--light-shade2);
}
.display-card.social-link .overlay--div {
  opacity: 1;
}
.social-link--div[data-social-handle='whatsapp'] .overlay--div {
  background: var(--color-whatsapp);
}
.social-link--div[data-social-handle='linkedin'] .overlay--div {
  background: var(--color-linkedin);
}
.social-link--div[data-social-handle='facebook'] .overlay--div {
  background: var(--color-facebook);
}
.social-link--div[data-social-handle='twitter'] .overlay--div {
  background: var(--color-twitter);
}
.social-link--div[data-social-handle='instagram'] .overlay--div {
  background: var(--color-instagram);
}
.social-link--div[data-social-handle='github'] .overlay--div {
  background: var(--color-github);
}
.social-link--logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  pointer-events: none;
}
.social-link--wrapper .icon {
  font-size: 3.8rem;
  color: var(--light-shade1);
  transition-delay: 0.1s;
}
body[data-mobile-device='true'] .social-link--wrapper .icon {
  font-size: 2rem;
}
body[data-mobile-device='false']
  .social-link--wrapper
  .social-link:hover
  .overlay--div,
body[data-mobile-device='false']
  .social-link--wrapper
  .social-link:focus
  .overlay--div {
  opacity: 0.6;
}
body[data-mobile-device='false']
  .social-link--wrapper
  .social-link:hover
  .social-link--logo,
body[data-mobile-device='false']
  .social-link--wrapper
  .social-link:focus
  .social-link--logo {
  top: 12%;
  left: 10%;
}
body[data-mobile-device='false'] .social-link--wrapper .social-link:hover .icon,
body[data-mobile-device='false']
  .social-link--wrapper
  .social-link:focus
  .icon {
  font-size: 2.5rem;
}
.social-link:active {
  filter: brightness(80%);
}
