/* Pagination Component */
.pagination--wrapper {
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.pagination-controller:first-child {
  margin-right: 0.7rem;
}
.pagination-controller:last-child {
  margin-left: 0.7rem;
}
.pagination-list--wrapper {
  position: relative;
  max-width: 162.5px; /* Fixed */
  overflow-x: hidden;
  align-self: center;
}
.pagination-list {
  display: flex;
  justify-content: start;
  padding: 0;
  margin-bottom: 0;
}
.pagination-item {
  list-style-type: none;
}
.pagination .bttn {
  position: relative;
  padding: 0.2rem 1rem;
  border-radius: 2px;
  z-index: 0;
}
.pagination-controller--btn,
.pagination-page--btn {
  background: transparent;
  color: var(--secondary-color);
  font-size: 1rem;
}
.pagination-page--btn.active {
  background: var(--secondary-color);
  color: var(--light-shade1);
}
.pagination-controller--btn {
  font-size: 1.8rem;
  font-weight: 800;
}
